.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
npm-debug.log
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
.phpunit.result.cache
phpunit.xml
README.md
DEPLOYMENT_GCP.md
docker-compose*.yml
Dockerfile
.editorconfig
.idea
.vscode
